# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Editor-specific files
*.idea/
.vscode/
*.sublime-workspace

# Git-specific files
*.lock
*.yaml.*
*.patch
*.rej
*.orig
*.merge_file*

# Coverage
coverage/
*.lcov
